<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-boot-sample-traditional:war exploded">
    <output-path>$PROJECT_DIR$/spring-boot-samples/spring-boot-sample-traditional/target/spring-boot-sample-traditional-2.1.0.RELEASE</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-boot-sample-traditional</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-boot-sample-traditional" />
        </element>
        <element id="directory" name="lib">
          <element id="archive" name="spring-boot-starter-2.1.0.RELEASE.jar">
            <element id="module-output" name="spring-boot-starter" />
          </element>
          <element id="archive" name="spring-boot-2.1.0.RELEASE.jar">
            <element id="module-output" name="spring-boot" />
          </element>
          <element id="archive" name="spring-boot-autoconfigure-2.1.0.RELEASE.jar">
            <element id="module-output" name="spring-boot-autoconfigure" />
          </element>
          <element id="archive" name="spring-boot-starter-logging-2.1.0.RELEASE.jar">
            <element id="module-output" name="spring-boot-starter-logging" />
          </element>
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.2.3" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.2.3" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-to-slf4j:2.11.1" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-api:2.11.1" />
          <element id="library" level="project" name="Maven: org.slf4j:jul-to-slf4j:1.7.25" />
          <element id="library" level="project" name="Maven: javax.annotation:javax.annotation-api:1.3.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.1.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.1.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.yaml:snakeyaml:1.23" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.1.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.1.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.1.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.1.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.1.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.1.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.25" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-boot-samples/spring-boot-sample-traditional/target/spring-boot-sample-traditional-2.1.0.RELEASE/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-boot-sample-traditional/web/Web" />
    </root>
  </artifact>
</component>